export OKAHU_API_KEY=""
export OKAHU_INGESTION_ENDPOINT="https://ingest.okahu.co/api/v1/trace/ingest"
export MONOCLE_EXPORTER="okahu,file"
export OKAHU_SRE_AGENT_PROD_URL="https://sre-agent.okahu.co/api/v1/ask_agent"
