export OKAHU_API_KEY=""
export OKAHU_INGESTION_ENDPOINT="https://ingest-stage.okahu.co/api/v1/trace/ingest"
export MONOCLE_EXPORTER="okahu,file"
export OKAHU_SRE_AGENT_PROD_URL="https://sre-agent.okahu.co/api/v1/ask_agent"
export OKAHU_SRE_AGENT_STAGE_URL="https://sre-agent-stage.okahu.co/api/v1/ask_agent"
export OKAHU_SRE_AGENT_DEV_URL="https://okahu-sre-agent-dev-cid.azurewebsites.net/api/v1/ask_agent"
